{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css"  />{%  endblock %}
{% block title %}New Point{% endblock %}

{% block body %}
    <h4>Nouveau point</h4>

    {{ include('point/_form.html.twig') }}

    <a href="{{ path('point_index') }}">back to list</a>
{% endblock %}
