{% extends 'base.html.twig' %}
{% block title %}{% trans %}Hello{% endtrans %}{% endblock %}

{% block body %}
    <div class="row">
        <h1>{% trans %}Hello{% endtrans %} {{ number }}</h1>
    </div>
    
{% endblock %}