<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="{{ asset('css/global.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'partials/navbar.html.twig' %}
        <div class="container">
            <div class="section">
                <div class="row">
                    {# read and display all flash messages #}
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="flash-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        

                {% block body %}{% endblock %}

        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>        
        <script src="{{ asset("js/global.js") }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
